node_modules/
.next/
.turbo/
dist/
build/
.venv/
__pycache__/
*.pyc
.env
.env.local
.env.production
.env.*.local
*.log
.DS_Store
prisma/migrations/
coverage/
apps/api/node_modules/
apps/web/node_modules/
apps/ai/.venv/
apps/ai/__pycache__/
node_modules/bcrypt/Dockerfile
node_modules/bcrypt/Dockerfile-alpine
